<div>
  <h1>Welcome, <%= @user.first_name %>!</h1>
  <p>Email: <%= link_to @user.email, "mailto:#{@user.email}" %> | UNI: <%= @user.uni %></p>
  <p>Seller rating:
    <% if @user.get_num_ratings == 0 %>
      No ratings received.
    <% else %>
      <%= sprintf("%.2f", @user.get_avg_rating) %>
        (in <%= @user.get_num_ratings %> <%= @user.get_num_ratings == 1 ? 'rating' : 'ratings' %>)
    <% end %>
  </p>

  <br />

  <h2>Listings Saved <%= @user.saved_listings.count > 0 ? sprintf("(%s)", @user.saved_listings.count) : "" %></h2>

  <% if @user.saved_listings.count > 0  %>
    <% @user.saved_listings.each_with_index do |bookmark, index| %>
      <%= link_to "/listing/#{bookmark.listing.id}", :class => 'listing', :id => "result-#{index}" do %>
        <% unless bookmark.listing.listing_images.count == 0 %>
          <div class="listing-photos">
            <%= image_tag S3FileHelper.get_presigned_dl_url_for_file(bookmark.listing.listing_images[0].image_id, 2.hours.to_i), class: "listing-cover" %>
          </div>
        <% end %>
        <% if bookmark.listing.status == "sold"  %>
          <p>SOLD!</p>
        <% end %>
        <div class="listing-price"><%= sprintf('%s', listing.book.title) %></div>
        <div class="listing-price"><%= sprintf('%s', listing.book.authors) %></div>
        <div class="listing-price"><%= sprintf('$%.2f', bookmark.listing.price) %></div>
        <div class="listing-description"><em><%= bookmark.listing.condition %></em> | <%= bookmark.listing.description.truncate(25) %></div>
      <% end %>
    <% end %>
  <% else %>
    You have no saved listings!
  <% end %>

  <h2>Active Listings as Seller <%= @user.active_seller_listings.count > 0 ? sprintf("(%s)", @user.active_seller_listings.count) : "" %></h2>

  <% if @user.active_seller_listings.count > 0  %>
    <% @user.active_seller_listings.each_with_index do |listing, index| %>
      <%= link_to "/listing/#{listing.id}", :class => 'listing', :id => "result-#{index}" do %>
        <% unless listing.listing_images.count == 0 %>
          <div class="listing-photos">
            <%= image_tag S3FileHelper.get_presigned_dl_url_for_file(listing.listing_images[0].image_id, 2.hours.to_i), class: "listing-cover" %>
          </div>
        <% end %>
        <div class="listing-price"><%= sprintf('%s', listing.book.title) %></div>
        <div class="listing-price"><%= sprintf('%s', listing.book.authors) %></div>
        <div class="listing-price"><%= sprintf('$%.2f', listing.price) %></div>
        <div class="listing-description"><em><%= listing.condition %></em> | <%= listing.description.truncate(25) %></div>
      <% end %>
    <% end %>
  <% else %>
    You are not currently selling anything!
  <% end %>

  <h2>Sold Listings as Seller <%= @user.sold_seller_listings.count > 0 ? sprintf("(%s)", @user.sold_seller_listings.count) : "" %></h2>

  <% if @user.sold_seller_listings.count > 0  %>
    <% @user.sold_seller_listings.each_with_index do |listing, index| %>
      <%= link_to "/listing/#{listing.id}", :class => 'listing', :id => "result-#{index}" do %>
        <% unless listing.listing_images.count == 0 %>
          <div class="listing-photos">
            <%= image_tag S3FileHelper.get_presigned_dl_url_for_file(listing.listing_images[0].image_id, 2.hours.to_i), class: "listing-cover" %>
          </div>
        <% end %>
        <% if listing.status == "sold"  %>
          <% if listing.buyer.nil? %>
            <p>SOLD!</p>
          <% else %>
            <p>SOLD to <%= listing.buyer.uni %></p>
          <% end %>
        <% end %>
        <div class="listing-price"><%= sprintf('%s', listing.book.title) %></div>
        <div class="listing-price"><%= sprintf('%s', listing.book.authors) %></div>
        <div class="listing-price"><%= sprintf('$%.2f', listing.price) %></div>
        <div class="listing-description"><em><%= listing.condition %></em> | <%= listing.description.truncate(25) %></div>
      <% end %>
    <% end %>
  <% else %>
    You have not sold anything!
  <% end %>

  <h2>Listings Purchased <%= @user.purchased_listings.count > 0 ? sprintf("(%s)", @user.purchased_listings.count) : "" %></h2>

  <% if @user.purchased_listings.count > 0  %>
    <% @user.purchased_listings.each_with_index do |listing, index| %>
      <%= link_to "/listing/#{listing.id}", :class => 'listing', :id => "result-#{index}" do %>
        <% unless listing.listing_images.count == 0 %>
          <div class="listing-photos">
            <%= image_tag S3FileHelper.get_presigned_dl_url_for_file(listing.listing_images[0].image_id, 2.hours.to_i), class: "listing-cover" %>
          </div>
        <% end %>
        <% if listing.status == "sold"  %>
          <p>SOLD (to you)!</p>
        <% end %>
        <div class="listing-price"><%= sprintf('%s', listing.book.title) %></div>
        <div class="listing-price"><%= sprintf('%s', listing.book.authors) %></div>
        <div class="listing-price">Sold for: <%= sprintf('$%.2f', listing.bought_at_price) %></div>
        <div class="listing-description"><em><%= listing.condition %></em> | <%= listing.description.truncate(25) %></div>
      <% end %>
    <% end %>
  <% else %>
    You have not purchased anything!
  <% end %>
</div>
