<div style='margin-top :50px; padding:10px;' >
  <h1>Hello, <%= @user.first_name %>!</h1>
  <p> <%= link_to @user.email, "mailto:#{@user.email}" %> |  <%= @user.uni %></p>
  <p>Seller rating:
    <% if @user.get_num_ratings == 0 %>
      No ratings received.
    <% else %>
      <%= sprintf("%.2f", @user.get_avg_rating) %>
        (in <%= @user.get_num_ratings %> <%= @user.get_num_ratings == 1 ? 'rating' : 'ratings' %>)
    <% end %>
  </p>

    </br></br>
  <h2 class="dahsboard-heading">Listings Saved <%= @user.saved_listings.count > 0 ? sprintf("(%s)", @user.saved_listings.count) : "" %></h2>

  <% if @user.saved_listings.count > 0  %>
    <% @user.saved_listings.each_with_index do |bookmark, index| %>
      <%= link_to "/listing/#{bookmark.listing.id}", :class => 'listing-dashboard', :id => "result-#{index}" do %>
        <% if bookmark.listing.status == "sold"  %>
          <p>SOLD!</p>
        <% end %>
        <div class="listing-price"><%= sprintf('%s', bookmark.listing.book.title) %></div>
        <div class="listing-price"><%= sprintf('%s', bookmark.listing.book.authors) %></div>
        <div class="listing-price"><%= sprintf('$%.2f', bookmark.listing.price) %></div>
        <div class="listing-description"><em><%= bookmark.listing.condition %></em> | <%= bookmark.listing.description.truncate(25) %></div>
      <% end %>
    <% end %>
  <% else %>
    <p class="dahsboard-heading">You have no saved listings!</p>
  <% end %>
</br></br>

<h2 class="dahsboard-heading">Active Listings as Seller <%= @user.active_seller_listings.count > 0 ? sprintf("(%s)", @user.active_seller_listings.count) : "" %></h2>

  <% if @user.active_seller_listings.count > 0  %>
    <% @user.active_seller_listings.each_with_index do |listing, index| %>
      <%= link_to "/listing/#{listing.id}", :class => 'listing-dashboard', :id => "result-#{index}" do %>
       <div class="listing-price"><%= sprintf('$%.2f', listing.price) %></div>
       <div class="listing-description"><em><%= listing.condition %></em> | <%= listing.description.truncate(50) %></div>
      <% end %>
    <% end %>
  <% else %>
    <p class="dahsboard-heading">You are not currently selling anything!</p>
  <% end %>

  </br></br>
  <h2 class="dahsboard-heading">Sold Listings as Seller <%= @user.sold_seller_listings.count > 0 ? sprintf("(%s)", @user.sold_seller_listings.count) : "" %></h2>

  <% if @user.sold_seller_listings.count > 0  %>
    <% @user.sold_seller_listings.each_with_index do |listing, index| %>
      <%= link_to "/listing/#{listing.id}", :class => 'listing-dashboard', :id => "result-#{index}" do %>
        <% if listing.status == "sold"  %>
          <% if listing.buyer.nil? %>
            <p>SOLD!</p>
          <% else %>
            <p>SOLD to <%= listing.buyer.uni %></p>
          <% end %>
        <% end %>
        <div class="listing-price"><%= sprintf('%s', listing.book.title) %></div>
        <div class="listing-price"><%= sprintf('%s', listing.book.authors) %></div>
        <div class="listing-price">Listed at: <%= sprintf('$%.2f', listing.price) %> | Bought at: <%= sprintf('$%.2f', listing.bought_at_price) %></div>
        <div class="listing-description"><em><%= listing.condition %></em> | <%= listing.description.truncate(25) %></div>
      <% end %>
    <% end %>
  <% else %>
    <p class="dahsboard-heading">You have not sold anything!</p>
  <% end %>
</br></br>

  <h2 class="dahsboard-heading">Listings Purchased <%= @user.purchased_listings.count > 0 ? sprintf("(%s)", @user.purchased_listings.count) : "" %></h2>

  <% if @user.purchased_listings.count > 0  %>
    <% @user.purchased_listings.each_with_index do |listing, index| %>
      <%= link_to "/listing/#{listing.id}", :class => 'listing-dashboard', :id => "result-#{index}" do %>
        <% if listing.status == "sold"  %>
          <p>SOLD (to you!)</p>
        <% end %>
        <div class="listing-price"><%= sprintf('%s', listing.book.title) %></div>
        <div class="listing-price"><%= sprintf('%s', listing.book.authors) %></div>
        <div class="listing-price">Listed at: <%= sprintf('$%.2f', listing.price) %> | Bought at: <%= sprintf('$%.2f', listing.bought_at_price) %></div>
        <div class="listing-description"><em><%= listing.condition %></em> | <%= listing.description.truncate(25) %></div>
        <%= link_to (listing.transaction_rating.nil? ? "Rate" : "Edit Rating (gave #{listing.transaction_rating.score}/5)"), "/listing/#{listing.id}/rate", :id => 'signin' , :style =>'float:left;margin-left :0px' %>
      <% end %>
    <% end %>
  <% else %>
    <p class="dahsboard-heading">You have not purchased anything! </p>
  <% end %>
</div>
