<div class="results-main">
  <%= form_with url: search_path, :id => "flexbox", method: :get do |form| %>
    <%= form.select :criteria,
                    @search_types.collect { |st| [st.display_name, st.id] }, :id => "criteria",
                    :selected => params[:criteria] %>
    <%= form.text_field :search_term,
                        placeholder: "(type your query here)", aria: { "label": "Search by query type selected" },
                        :id => "search",
                        :value => params[:search_term] %>
    <%= form.submit "Go", :id => "search-btn" %>
  <% end %>

  <div id="results-wrapper">
    <% @results.each_with_index do |res, index| %>
      <%= link_to "/book/#{res.id}", :class => 'result', :id => "result-#{index}" do %>
        <% unless res.image_url.nil? %>
          <%= image_tag res.image_url, class: "cover-small" %>
        <% end %>
        <div class="book-title-author-edition ">
          <p class="book-title" style="line-height: 1"><%= res.title %></p>
          <p class="book-author" style="line-height: 1"><%= res.authors %></p>
          <p class="book-edition" style="line-height: 1">
            <%= res.publisher %>
            <% if not res.edition.nil? and not res.edition.empty? %>
              (<%= res.edition %>)
            <% end %>
            |
            <%= res.isbn %>
          </p>
        </div>
        <div class="book-number">
          <div class="book-count"><%= res.listings.length %></div>
          <div style="text-align: center;">listings</div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>