<div class="new_listing" >
    <%= form_with url: "/listing/#{@listing.id}/edit"   do |f| %>
        <p class="h3"> Edit Listing #<%= @listing.id %> </p> </br>
        <p class="h4" style="color: red;"> Book information cannot be edited. To do so, delete this listing and create a new one. </p> </br>
        <div class="form-group">
            <p>
                <!-- Force 13 digits. -->
                <%= f.label 'Book ISBN (13 digits required, no dashes)' %><br>
                <%= f.text_field :isbn, value: @book.isbn, :readonly => true %>
            </p>

            <div class="form-group extra_book_details" >
                <p>
                    <%= f.label 'Title' %><br>
                    <%= f.text_field :book_title, value: @book.title, :readonly => true %>
                </p>
                <p>
                    <%= f.label 'Author(s)' %><br>
                    <%= f.text_field :book_authors, value: @book.authors, :readonly => true %>
                </p>
                <p>
                    <%= f.label 'Edition' %><br>
                    <%= f.text_field :book_edition, value: @book.edition, :readonly => true %>
                </p>
                <p>
                    <%= f.label 'Publisher' %><br>
                    <%= f.text_field :book_publisher, value: @book.publisher, :readonly => true %>
                </p>
            </div>

            <p>
                <%= f.label 'condition' %><br>
                <%= f.text_field :condition, value: @form_data[:condition] %>
            </p>
            <p>
                <%= f.label 'Price (no dollar sign)' %><br>
                <%= f.text_field :price, value: @form_data[:price] %>
            </p>
            <p>
                <%= f.label 'Course' %><br>
                <%= f.text_field :course, value: @form_data[:course] %>
            </p>
            <p>
                <%= f.label 'Description' %><br>
                <%= f.text_area :description, placeholder: "(Describe the condition of the book)" , value: @form_data[:description] %>
            </p>

            <br/>
            <p>
                <%= f.submit 'Save' , :id => 'signin' , :style => "float:none" %>
            </p>
            </div>
        <% end %>
    </div>
</div>