<div class="new_listing" >
    <%= form_with url: "/listing/new"   do |f| %>
        <p class="h3"> New Listing </p> </br>
        <div class="form-group">
            <p>
                <!-- Force 13 digits. -->
                <%= f.label 'Book ISBN (13 digits required, no dashes)' %><br>
                <%= f.number_field :isbn, value: @form_data[:isbn], :class=>"hidescrollbar",:readonly => @form_data[:hidden_expandisbn] === true, :id => "ISBN"%>
            </p>
            <% if @form_data[:hidden_expandisbn] and @form_data[:hidden_expandisbn] === true %>
            <div class="form-group extra_book_details" >
                <p>
                    <%= f.label 'Title' %><br>
                    <%= f.text_field :book_title, value: @form_data[:book_title], :id => "Title" %>
                </p>
                <p>
                    <%= f.label 'Author(s)' %><br>
                    <%= f.text_field :book_authors, value: @form_data[:book_authors], :id => "Author(s)" %>
                </p>
                <p>
                    <%= f.label 'Edition' %><br>
                    <%= f.text_field :book_edition, value: @form_data[:book_edition], :id => "Edition" %>
                </p>
                <p>
                    <%= f.label 'Publisher' %><br>
                    <%= f.text_field :book_publisher, value: @form_data[:book_publisher], :id => "Publisher" %>
                </p>
            </div>
            <% end %>
            <p>
                <%= f.label 'condition' %><br>
                <%= f.text_field :condition, value: @form_data[:condition], :id => "Condition" %>
            </p>
            <p>
                <%= f.label 'Price (no dollar sign)' %><br>
                <%= f.text_field :price, value: @form_data[:price], :id => "Price" %>
            </p>
            <p>
                <%= f.label 'Course' %><br>
                <%= f.text_field :course, value: @form_data[:course], :id => "Course" %>
            </p>
            <p>
                <%= f.label 'Description' %><br>
                <%= f.text_area :description, placeholder: "(Describe the condition of the book)" , value: @form_data[:description], :id => "Description" %>
            </p>

            <p>
            <% if not @listing.nil? %>
                <%= f.label sprintf('Images (%s/%s uploaded; min. 1)', @listing.listing_images.count, Listing.class_variable_get(:@@MAX_IMAGES)) %>
                <br>
                <% @listing.listing_images.each do |img| %>
                  <%= f.submit 'X' , class: "btn btn-danger", formaction: "/listing/new/deleteimg/#{img.id}", formmethod: 'post'  %>
                  <%= image_tag S3FileHelper.get_presigned_dl_url_for_file(img.image_id, 2.hours.to_i), :style=>"width:88px" %>
                <% end %>
            <% else %>
                <%= f.label sprintf('Images (0/%s uploaded; min. 1)', Listing.class_variable_get(:@@MAX_IMAGES)) %>
            <% end %>

            <br>
            <%= f.file_field :image, accept: 'image/png,image/jpeg' %>
            <%= f.submit 'Upload' , class: "btn btn-info", formaction: "/listing/new/uploadimg", formmethod: 'post'  %>
            </p>

            <%= f.hidden_field :hidden_expandisbn, value: @form_data[:hidden_expandisbn] %>
            <%= f.hidden_field :hidden__book_isbn, value: @form_data[:hidden__book_isbn] %>
            <%= f.hidden_field :hidden_draft_listing_id, value: @form_data[:hidden_draft_listing_id] %>

            <br/>
            <p>
                <%= f.submit 'Post' , :id => 'signin' , :style => "float:none" %>
            </p>
            </div>
        <% end %>
    </div>
</div>
