<div class="registration_prompt" >
    <%= form_with url: "/listing/new"   do |f| %>
        <p class="h3"> New Listing </p> </br>
        <div class="form-group">
            <p>
                <%= f.label 'Book ISBN' %><br>
                <%= f.text_field :isbn, value: @form_data[:isbn] %>
            </p>
            <p>
                <%= f.label 'condition' %><br>
                <%= f.text_field :condition, value: @form_data[:condition] %>
            </p>
            <p>
                <%= f.label 'Price' %><br>
                <%= f.text_field :price, value: @form_data[:price] %>
            </p>
            <p>
                <%= f.label 'Course' %><br>
                <%= f.text_field :course, value: @form_data[:course] %>
            </p>
            <p>
                <%= f.label 'Description' %><br>
                <%= f.text_area :description, placeholder: "(Describe the condition of the book)" , value: @form_data[:description] %>
            </p>

            <%= f.hidden_field :hidden_expandisbn, value: @form_data[:hidden_expandisbn] %>

            <br/>
            <p>
                <%= f.submit 'Post' , :id => 'signin' , :style => "float:none" %>
            </p>
            </div>
        <% end %>
    </div>
</div>