<div class="new_listing" >
    <%= form_with url: "/listing/new"   do |f| %>
        <p class="h3"> New Listing </p> </br>
        <div class="form-group">
            <p>
                <!-- Force 13 digits. -->
                <%= f.label 'Book ISBN (13 digits required, no dashes)' %><br>
                <%= f.text_field :isbn, value: @form_data[:isbn], :readonly => @form_data[:hidden_expandisbn] === true %>
            </p>
            <% if @form_data[:hidden_expandisbn] and @form_data[:hidden_expandisbn] === true %>
            <div class="form-group extra_book_details" >
                <p>
                    <%= f.label 'Title' %><br>
                    <%= f.text_field :book_title, value: @form_data[:book_title] %>
                </p>
                <p>
                    <%= f.label 'Author(s)' %><br>
                    <%= f.text_field :book_authors, value: @form_data[:book_authors] %>
                </p>
                <p>
                    <%= f.label 'Edition' %><br>
                    <%= f.text_field :book_edition, value: @form_data[:book_edition] %>
                </p>
                <p>
                    <%= f.label 'Publisher' %><br>
                    <%= f.text_field :book_publisher, value: @form_data[:book_publisher] %>
                </p>
            </div>
            <% end %>
            <p>
                <%= f.label 'condition' %><br>
                <%= f.text_field :condition, value: @form_data[:condition] %>
            </p>
            <p>
                <%= f.label 'Price (no dollar sign)' %><br>
                <%= f.text_field :price, value: @form_data[:price] %>
            </p>
            <p>
                <%= f.label 'Course' %><br>
                <%= f.text_field :course, value: @form_data[:course] %>
            </p>
            <p>
                <%= f.label 'Description' %><br>
                <%= f.text_area :description, placeholder: "(Describe the condition of the book)" , value: @form_data[:description] %>
            </p>

            <%= f.hidden_field :hidden_expandisbn, value: @form_data[:hidden_expandisbn] %>
            <%= f.hidden_field :hidden__book_isbn, value: @form_data[:hidden__book_isbn] %>

            <br/>
            <p>
                <%= f.submit 'Post' , :id => 'signin' , :style => "float:none" %>
            </p>
            </div>
        <% end %>
    </div>
</div>