<div class="listing-page-main">
    <p> New Listing </p>
    <div>
    <%= form_with model: @books, url: "" do |f| %>
            <p>
                <%= f.label 'Book ISBN' %><br>
                <%= f.text_field :isbn %>
            </p>
            <p>
                <%= f.label 'first_name' %><br>
                <%= f.text_field :first_name %>
            </p>
            <p>
                <%= f.label 'Price' %><br>
                <%= f.text_field :price %>
            </p>
            <p>
                <%= f.label 'Course' %><br>
                <%= f.text_field :course %>
            </p>
            <p>
                <%= f.label 'Description' %><br>
                <%= f.text_field :description %>
            </p>
            <br/>
            <p>
                <%= f.submit 'Post' %>
            </p>
        <% end %>
    </div>
</div>