<div class="listing-page-main">
  <% unless @listing.listing_images.count == 0 %>
    <div class="listing-photos">
        <%= image_tag S3FileHelper.get_presigned_dl_url_for_file(@listing.listing_images[0].image_id, 2.hours.to_i), class: "listing-cover" %>
        <% if @listing.listing_images.count > 1 %>
        <div class="listing-alt-photos">
          <% @listing.listing_images.drop(1).each do |img| %>
            <%= image_tag S3FileHelper.get_presigned_dl_url_for_file(img.image_id, 2.hours.to_i), class: "listing-alt-photo" %>
          <% end %>
        </div>
        <% end %>
    </div>
    <% end %>
    <div class="listing-info">
        <p class="listing-title"><%= @listing.book.title %></p>
        <p class="listing-author"><%= @listing.book.authors %></p>
        <p class="listing-edition">
            <%= @listing.book.publisher %>
            <% if not @listing.book.edition.nil? and not @listing.book.edition.empty? %>
                (<%= @listing.book.edition %>)
            <% end %>
            |
            <%= @listing.book.isbn %>
        </p>
        <p class="listing-price"><%= sprintf('$%.2f', @listing.price) %></p>
        <div class="listing-description"><em><%= @listing.condition %></em> | <%= @listing.description.truncate(50) %></div>
        </br>
        <% if not Current.user.nil? and Current.user.email === @listing.seller.email %>
         <% if @listing.status != "sold" %>
          <%= link_to "Edit", "/listing/#{@listing.id}/edit", :id => 'signin' , :style =>'float:left;margin-left :0px' %>
          <%= link_to "Delete", "/listing/#{@listing.id}/delete", :id => 'signin' , :style =>'float:left'%>
         <% else %>
          <%= link_to "Delete", "/listing/#{@listing.id}/delete", :id => 'signin' , :style =>'float:left;margin-left :0px'%>
         <% end %>
         <% unless @listing.status == "sold" %>
          <%= link_to "Mark As Sold", "/listing/#{@listing.id}/sold", :id => 'signin' , :style =>'float:left'%>
         <% end %>
        <% elsif not Current.user.nil? %>
         <%= link_to (@existing_bookmark.nil? ? "Save" : "Unsave"), "/listing/#{@listing.id}/bookmark", :id => 'signin' , :style =>'float:left;margin-left :0px' %>
        <% end %>
    </div>
    <% if Current.user %>
          <div class="seller-info">
            <p style="font-size: 25px;">Seller Information</p>
               <p class="seller-name">Name: <%= @listing.seller.first_name %> <%= @listing.seller.last_name %></p>
               <p class="seller-school">School: <%= @listing.seller.school %></p>
               <% if @listing.seller.get_num_ratings == 0 %>
                <p class="seller-reputation">Reputation: No ratings received.</p>
               <% else %>
                <p class="seller-reputation">Reputation: <%= sprintf("%.2f", @listing.seller.get_avg_rating) %>
                  (in <%= @listing.seller.get_num_ratings %> <%= @listing.seller.get_num_ratings == 1 ? 'rating' : 'ratings' %>)</p>
               <% end %>
               <div class="seller-contact">
                   <p>Email: <%= @listing.seller.email %></p>
               </div>
               <br/>
                <% if Current.user.email === @listing.seller.email %>

              <% else %>
              <div class="contact-seller">
                 <%= link_to "Contact Seller", "mailto:#{@listing.seller.email}", :id => 'signin', :style => 'float:left' %>
               </div>
              <% end %>
          </div>

    <% else %>
        <div class="seller-info">
            <p style="font-size: 25px;">Seller Information</p>
            <p class="seller-name">Name: **Hidden**</p>
            <p class="seller-school">School: **Hidden**</p>
            <% if @listing.seller.get_num_ratings == 0 %>
              <p class="seller-reputation">Reputation: No ratings received.</p>
            <% else %>
              <p class="seller-reputation">Reputation: <%= sprintf("%.2f", @listing.seller.get_avg_rating) %>
                (in <%= @listing.seller.get_num_ratings %> <%= @listing.seller.get_num_ratings == 1 ? 'rating' : 'ratings' %>)</p>
            <% end %>
            <div class="seller-contact">
                <p>Email: **Hidden**</p>
            </div>
            <br/>
            <div class="center">
                Please
                <u><%= link_to 'Register', signup_path,:id => 'link' %> </u>
                or
                <u><%= link_to 'SignIn', signin_path, :id => 'link'%></u>
                to <br/> view the seller Information.
           </div>
         </div>
    <% end %>
</div>
