<div class="listing-page-main">
  <% unless @listing.book.image_url.nil? %>
    <div class="listing-photos">
        <%= image_tag @listing.book.image_url, class: "listing-cover" %>
        <div class="listing-alt-photos">
            <%= image_tag @listing.book.image_url, class: "listing-alt-photo" %>
            <%= image_tag @listing.book.image_url, class: "listing-alt-photo" %>
            <%= image_tag @listing.book.image_url, class: "listing-alt-photo" %>
            <%= image_tag @listing.book.image_url, class: "listing-alt-photo" %>
        </div>
    </div>
    <% end %>
    <div class="listing-info">
        <p class="listing-title"><%= @listing.book.title %></p>
        <p class="listing-author"><%= @listing.book.authors %></p>
        <p class="listing-edition">
            <%= @listing.book.publisher %>
            <% if not @listing.book.edition.nil? and not @listing.book.edition.empty? %>
                (<%= @listing.book.edition %>)
            <% end %>
            |
            <%= @listing.book.isbn %>
        </p>
        <p class="listing-price"><%= sprintf('$%.2f', @listing.price) %></p>
        <div class="listing-description"><em><%= @listing.condition %></em> | <%= @listing.description.truncate(50) %></div>
    </div>
    <% if Current.user %>
          <div class="seller-info">
            <p style="font-size: 25px;">Seller Information</p>
               <p class="seller-name">Name: <%= @listing.seller.first_name %> <%= @listing.seller.last_name %></p>
               <p class="seller-school">School: <%= @listing.seller.school %></p>
               <p class="seller-reputation">Reputation: 4.5</p> <!-- TODO make it dynamic -->
               <div class="seller-contact">
                   <p>Email: <%= @listing.seller.email %></p>
               </div>
               <br/>
                <% if Current.user.email === @listing.seller.email %>
                 <div class="contact-seller">
                   <p style="font-size: 25px;">Contact The Seller:</p>
                   <p class="seller-name">From Name: <%= Current.user.email %> </p>
                    <%= text_area "post", "body", placeholder: "type your message here","cols" => 35, "rows" => 10%> <!-- TODO make it work went email feature is ready -->
                    <br/>
                    <br/>
                    <%= link_to 'Send', "",:id => 'send_button'%>
                 </div>
              <% else %>
                <%= link_to "Edit", '/edit', :id => 'signin' %>
              <% end %>
          </div>

    <% else %>
        <div class="seller-info">
            <p style="font-size: 25px;">Seller Information</p>
            <p class="seller-name">Name: **Hidden**</p>
            <p class="seller-school">School: **Hidden**</p>
            <p class="seller-reputation">Reputation: 4.5</p>
            <div class="seller-contact">
                <p>Email: **Hidden**</p>
            </div>
            <br/>
            <div class="center">
                Please
                <u><%= link_to 'Register', signup_path,:id => 'link' %> </u>
                or
                <u><%= link_to 'SignIn', signin_path, :id => 'link'%></u>
                to <br/> view the seller Information.
           </div>
         </div>
    <% end %>
</div>