<div class="book-main">
  <div id="book-wrapper">
    <div class="book">
      <% unless @book.image_id.nil? %>
        <%= image_tag S3FileHelper.get_presigned_dl_url_for_file(@book.image_id, 2.hours.to_i), class: "cover" %>
      <% end %>
      <div class="book-title-author-edition">
        <p class="book-title" style="font-size:27px"><%= @book.title %></p>
        <p class="book-author" style="font-size:21px"><%= @book.authors %></p>
        <p class="book-edition" style="font-size:21px">
          <%= @book.publisher %>
          <% if not @book.edition.nil? and not @book.edition.empty? %>
            (<%= @book.edition %>)
          <% end %>
          |
          <%= @book.isbn %>
        </p>
      </div>
    </div>
  </div>

  <div class="listing-number">
    <% if @book.get_published_listings.empty? %>
      No listings found!
    <% elsif @book.get_published_listings.length == 1 %>
      1 listing found:
    <% else %>
      <%= @book.get_published_listings.length %> listings found:
    <% end %>
  </div>

  <% unless @book.get_published_listings.empty? %>
    <div class="listings-wrapper">
      <% @book.get_published_listings.each_with_index do |listing, index| %>
        <%= link_to "/listing/#{listing.id}", :class => 'listing', :id => "result-#{index}" do %>
          <div class="listing-price"><%= sprintf('$%.2f', listing.price) %></div>
          <div class="listing-description"><em><%= listing.condition %></em> | <%= listing.description.truncate(50) %></div>
          <div class="listing-actions foreign">
            <div class="listing-contact-status">Contact</div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>