<div id="navbar">
  <%= link_to "L'Books", '/', :id => 'navbar-logo' %>
  <button id="signin">Sign In</button> <!-- TODO -->
</div>
<div class="book-main">
  <div id="book-wrapper">
    <div class="book">
      <%= image_tag @book.image_url, class: "cover" %>
      <div class="book-title-author-edition">
        <p class="book-title"><%= @book.title %></p>
        <p class="book-author"><%= @book.authors %></p>
        <p class="book-edition">
          <%= @book.publisher %>
          <% if not @book.edition.nil? and not @book.edition.empty? %>
            (<%= @book.edition %>)
          <% end %>
          |
          <%= @book.isbn %>
        </p>
      </div>
    </div>
  </div>

  <div class="listing-number">
    <% if @book.listings.empty? %>
      No listings found!
    <% elsif @book.listings.length == 1 %>
      1 listing found:
    <% else %>
      <%= @book.listings.length %> listings found:
    <% end %>
  </div>

  <div class="listings-wrapper">
    <div class="listing">
      <div class="listing-price">$XX.XX</div>
      <div class="listing-description">Like new - Lorem ipsum dolor sit amet...</div>
      <div class="listing-actions foreign">
        <div class="listing-contact-status">Contacted</div>
      </div>
    </div>
    <div class="listing">
      <div class="listing-price">$XX.XX</div>
      <div class="listing-description">Like new - Lorem ipsum dolor sit amet...</div>
      <div class="listing-actions mine">
        <div class="listing-edit-option">Edit</div>
        <div class="listing-delete-option">Delete</div>
      </div>
    </div>
    <div class="listing">
      <div class="listing-price">$XX.XX</div>
      <div class="listing-description">Like new - Lorem ipsum dolor sit amet...</div>
      <div class="listing-actions foreign">
        <div class="listing-contact-status">Contact</div>
      </div>
    </div>
    <div class="listing">
      <div class="listing-price">$XX.XX</div>
      <div class="listing-description">Like new - Lorem ipsum dolor sit amet...</div>
      <div class="listing-actions foreign">
        <div class="listing-contact-status">Contact</div>
      </div>
    </div>
    <div class="listing">
      <div class="listing-price">$XX.XX</div>
      <div class="listing-description">Like new - Lorem ipsum dolor sit amet...</div>
      <div class="listing-actions foreign">
        <div class="listing-contact-status">Contact</div>
      </div>
    </div>
    <div class="listing">
      <div class="listing-price">$XX.XX</div>
      <div class="listing-description">Like new - Lorem ipsum dolor sit amet...</div>
      <div class="listing-actions foreign">
        <div class="listing-contact-status">Contact</div>
      </div>
    </div>
    <div class="listing">
      <div class="listing-price">$XX.XX</div>
      <div class="listing-description">Like new - Lorem ipsum dolor sit amet...</div>
      <div class="listing-actions foreign">
        <div class="listing-contact-status">Contact</div>
      </div>
    </div>
  </div>
</div>