<div class="dashboard-main">
  <div id="heading"> Dashboard - <%= @user.email %> </div>

  <div id="my-listings">My listings</div>
  <div id="my-listings-wrapper">
    <% @listings.each do |res| %>
      <%= link_to "/book/#{res.id}", :class => 'result' do %>
        <%= image_tag res.image_url, class: "cover-small" %>
        <div class="book-title-author-edition">
          <p class="book-title"><%= res.title %></p>
          <p class="book-author"><%= res.authors %></p>
          <p class="book-edition">
            <%= res.publisher %>
            <% if not res.edition.nil? and not res.edition.empty? %>
              (<%= res.edition %>)
            <% end %>
            |
            <%= res.isbn %>
          </p>
        </div>
        <div class="book-number">
          <div class="book-count"><%= res.listings.length %></div>
          <div style="text-align: center;">listings</div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>









